<a href="https://colab.research.google.com/github/hoofitech/fintech-practice/blob/main/03_%ED%8C%90%EB%8B%A4%EC%8A%A4_%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0_%EC%82%B4%ED%8E%B4%EB%B3%B4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **03-1. 나만의 데이터 만들기**

시리즈는 모든 요소의 자료형이 같아야한다는 점만 뺴면 파이썬의 리스트는 매우 유사

데이터프레임은 각 키가 열의 이름이고 값이 시리즈인 딕셔너리로 볼 수 있습니다.

In [ ]:
import pandas as pd
s= pd.Series(['banana', 42]) #파이썬의 리스트를 이용하여 Series() 시리즈를 만들 수 있음
print(s)

0    banana
1        42
dtype: object

In [ ]:
s = pd.Series(data=['Wes Mckinney', 'creator of pandas'], index = ['Person', 'Who']) #시리즈에도 값에 이름을 할당할 수 있다
print(s)

Person         Wes Mckinney
Who       creator of pandas
dtype: object

In [ ]:
scientists = pd.DataFrame({
    "Name" : ["Rosaline Franklin", "William Gosset"],
    "Occupation" : ["Chemist", "Statistician"],
    "Born" : ["1920-07-25", "1876-06-13"],
    "Died" : ["1958-04-16", "1937-10-16"],
    "Age" : [37, 61],
})
print(scientists) #딕셔너리와 유사하듯 실제로 데이터프레임을 만드는 방법은 딕셔너리를 사용한다.

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [ ]:
scientists = pd.DataFrame(
    data={"Name" : ["Rosaline Franklin", "William Gosset"],
    "Occupation" : ["Chemist", "Statistician"],
    "Born" : ["1920-07-25", "1876-06-13"],
    "Died" : ["1958-04-16", "1937-10-16"],
    "Age" : [37, 61],
  },
    index = ["Rosaline Franklin", "William Gosset"],
    columns = ["Occupation", "Born", "Died", "Age"],
)
print(scientists) # 매개변수 index를 통해서 name 열의 값을 열 이름 인데스로 사용하고 싶다면 매겨변수 index에 해당 리스트를 지정, 매개변수 columns를 사용해서 열 순서를 지정할 수 있다

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

# 03-02 시리즈 다루기

In [ ]:
first_row = scientists.loc['William Gosset']
print(first_row) #loc를 통해서 시리즈를 출력

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

In [ ]:
print(first_row.index)
print(first_row.values) #index나 values같이 다양한 속성을 제공한다

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
['Statistician' '1876-06-13' '1937-10-16' np.int64(61)]

In [ ]:
print(first_row.keys()) #.keys()는 메서드라서 () 소괄호를 사용
print(first_row.index[0]) #속성이므로 바로 뒤에 [0]을 써서 추출
print(first_row.keys()[0]) #메서드 호출 후 [0]을 써서 인덱스 추출

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
Occupation
Occupation

In [ ]:
ages = scientists['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [ ]:
print(ages.mean())
print(ages.min())
print(ages.max())
print(ages.std()) #시리즈의 자료구조는 넘파이의 ndarray와 매우 닮았다. nddray에서 사용할 수 있는 메서드와 함수는 시리즈에도 사용가능

49.0
37
61
16.97056274847714

시리즈와 불리언

In [ ]:
scientists = pd.read_csv('scientists.csv')
print(scientists)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [ ]:
ages = scientists['Age']
print(ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [ ]:
print(ages.describe()) #describe() 메서드를 이용하면 다양한 기술 통계량을 계산할 수 있다

count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64

In [ ]:
print(ages[ages > ages.mean()]) #대괄호 안에 조건을 지정하여 조건에 맞는 데이터만 추출가능

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [ ]:
print(ages > ages.mean()) #평균보다 큰 ages를 구하는 것을 이렇게 표현할 수 있다

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [ ]:
print(type(ages > ages.mean())) #불리언 값으로 구성된 시리즈로도 데이터를 추출할 수 있다

<class 'pandas.core.series.Series'>

In [ ]:
manual_bool_values = [
    True,
    True,
    False,
    False,
    True,
    True,
    False,
    True
]
print(ages[manual_bool_values]) #True로 지정한 0,1,4,5,7행만 출력된다

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

시리즈와 브로드캐스팅

In [ ]:
print(ages + ages)
print(ages * ages) # 길이가 같은 두 개의 시리즈를 대상으로 연산하면 각 요소가 서로 대응하여 계산

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [ ]:
print(ages + 100)
print(ages * 2) #스칼라와 벡터를 연산하면 같은 스칼라 값이  벡터의 모든 요소에 적용됨

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [ ]:
print(ages + pd.Series([1,100])) # 길이가 다른 벡터를 계산하면 인덱스를 계산할 수 없는 값은 NaN으로 처리합니다.

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [ ]:
rev_ages = ages.sort_index(ascending=False) #sort_index() 메서드에 매개변수 ascending을 False로 지정하면 내림차순으로 정렬됩니다
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [ ]:
print(ages + rev_ages) # rev_ages의 인덱스가 내림차순으로 정렬되어있었으나 오름차순으로 자동으로 정렬됨

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

# **03-3 데이터프레임 다루기**

In [ ]:
scientists.index #행 이름을 나타냄

RangeIndex(start=0, stop=8, step=1)

In [ ]:
scientists.columns #열 이름을 나타냄

Index(['Name', 'Born', 'Died', 'Age', 'Occupation'], dtype='object')

In [ ]:
scientists.values #데이터를 나타냄, numpy 표현법으로 간단하게 데이털르 살펴볼 때 유용

array([['Rosaline Franklin', '1920-07-25', '1958-04-16', 37, 'Chemist'],
       ['William Gosset', '1876-06-13', '1937-10-16', 61, 'Statistician'],
       ['Florence Nightingale', '1820-05-12', '1910-08-13', 90, 'Nurse'],
       ['Marie Curie', '1867-11-07', '1934-07-04', 66, 'Chemist'],
       ['Rachel Carson', '1907-05-27', '1964-04-14', 56, 'Biologist'],
       ['John Snow', '1813-03-15', '1858-06-16', 45, 'Physician'],
       ['Alan Turing', '1912-06-23', '1954-06-07', 41,
        'Computer Scientist'],
       ['Johann Gauss', '1777-04-30', '1855-02-23', 77, 'Mathematician']],
      dtype=object)

데이터프레임과 불리언 추출

In [ ]:
print(scientists.loc[scientists['Age'] > scientists['Age'].mean()]) #'Age' 열의 값이 평균값보다 큰 데이터만 추출

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [ ]:
first_half = scientists[:4]
second_half = scientists[4:]
print(first_half) #데이터프레임을 반 씩 나누어 추출

                   Name        Born        Died  Age    Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1        William Gosset  1876-06-13  1937-10-16   61  Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist

In [ ]:
print(second_half)

            Name        Born        Died  Age          Occupation
4  Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5      John Snow  1813-03-15  1858-06-16   45           Physician
6    Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7   Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [ ]:
print(scientists * 2) #문자열의 경우 2번 출력되었고 숫자는 2배가 되었다

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

In [ ]:
df1= df2= pd.DataFrame(data=[[1,2,3], [4,5,6], [7,8,9]])
df_added = df1.add(df2)
print(df_added) #데이터프레임의 모든 값이 숫자이고 같은 셀끼리 값을 더하고 싶다면 add() 메서드를 사용하면됨

    0   1   2
0   2   4   6
1   8  10  12
2  14  16  18

# **03-4. 시리즈와 데이터프레임 데이터 변환하기**

In [ ]:
print(scientists.dtypes)

Name          object
Born          object
Died          object
Age            int64
Occupation    object
dtype: object

In [ ]:
born_datetime = pd.to_datetime(scientists['Born'], format = '%Y-%m-%d') #날짜는 datetime형으로 변환하는게 좋다. 형식은 format = '%Y-%m-%d' 매개변수로 지정가능
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [ ]:
died_datetime = pd.to_datetime(scientists['Died'], format = '%Y-%m-%d')

In [ ]:
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime) #datetime형 열 추가

In [ ]:
print(scientists.head()) #추가된 것이 확인됨

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [ ]:
print(scientists.shape)

(8, 7)

In [ ]:
print(scientists.dtypes)

Name                  object
Born                  object
Died                  object
Age                    int64
Occupation            object
born_dt       datetime64[ns]
died_dt       datetime64[ns]
dtype: object

In [ ]:
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [ ]:
print(scientists["Age"].sample(frac=1, random_state=42)) #sample() 메서드는 열을 무작위로 섞어줌, 매개변수 frac로 추출비율을 설정할 수 있음, random_state 매개변수로 난수값 설정가능

1    61
5    45
0    37
7    77
2    90
4    56
3    66
6    41
Name: Age, dtype: int64

In [ ]:
scientists["Age"] = scientists["Age"].sample(frac = 1, random_state = 42)
print(scientists['Age']) #sample() 메서드를 이용하여 섞은 것을 Age열에 할당하려고 했지만 판다스가 대부분의 연산에서 index를 기준으로 자동병합하기 때문에 제자리로 돌아감

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [ ]:
scientists["Age"] = scientists["Age"].sample(frac= 1, random_state=42).values
print(scientists['Age']) #values를 사용하면 인덱스 정보 없이 값만 반환한다.

0    61
1    45
2    37
3    77
4    90
5    56
6    66
7    41
Name: Age, dtype: int64

In [ ]:
scientists["age_days"] = (scientists['died_dt'] - scientists['born_dt'])
print(scientists) #뒤죽박죽이 된 Age를 다시 구하기 위해서 born_dt 와 died_dt 열의 날짜 차이를 계산하고 이를 age_days에 저장

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   61             Chemist
1        William Gosset  1876-06-13  1937-10-16   45        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   37               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   56           Physician
6           Alan Turing  1912-06-23  1954-06-07   66  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   41       Mathematician

     born_dt    died_dt   age_days
0 1920-07-25 1958-04-16 13779 days
1 1876-06-13 1937-10-16 22404 days
2 1820-05-12 1910-08-13 32964 days
3 1867-11-07 1934-07-04 24345 days
4 1907-05-27 1964-04-14 20777 days
5 1813-03-15 1858-06-16 16529 days
6 1912-06-23 1954-06-07 15324 days
7 1777-04-30 1855-02-23 28422 days

In [ ]:
import numpy as np

scientists['age_days'] = (scientists['age_days'].dt.days / 365).apply(np.floor) #dt.days를 통해서 age_days의  '일'수치만 뽑아낸 후 365로 나눠 줍니다. 그리고 apply(np.floor)은 넘파이의 반내림 함수이다.
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   61             Chemist
1        William Gosset  1876-06-13  1937-10-16   45        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   37               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   56           Physician
6           Alan Turing  1912-06-23  1954-06-07   66  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   41       Mathematician

     born_dt    died_dt  age_days
0 1920-07-25 1958-04-16      37.0
1 1876-06-13 1937-10-16      61.0
2 1820-05-12 1910-08-13      90.0
3 1867-11-07 1934-07-04      66.0
4 1907-05-27 1964-04-14      56.0
5 1813-03-15 1858-06-16      45.0
6 1912-06-23 1954-06-07      41.0
7 1777-04-30 1855-02-23      77.0

In [ ]:
scientists["age_days"] = (scientists['died_dt'] - scientists['born_dt'])

In [ ]:
scientists = scientists.assign(
    age_days_assign = scientists['died_dt'] - scientists['born_dt'],
    age_year_assign = (scientists['age_days'].dt.days/365)
                      .apply(np.floor)
)
print(scientists) #assign 메서드를 활용해서도 열을 할당하고 수정할 수 있다

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   61             Chemist
1        William Gosset  1876-06-13  1937-10-16   45        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   37               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   56           Physician
6           Alan Turing  1912-06-23  1954-06-07   66  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   41       Mathematician

     born_dt    died_dt   age_days age_days_assign  age_year_assign
0 1920-07-25 1958-04-16 13779 days      13779 days             37.0
1 1876-06-13 1937-10-16 22404 days      22404 days             61.0
2 1820-05-12 1910-08-13 32964 days      32964 days             90.0
3 1867-11-07 1934-07-04 24345 days      24345 days             66.0
4 1907-05-27 1964-04-14 20777 days      20777 days             56.0
5 1813-03-15 1858-06-16 16529 days      16529 days             45.0
6 1912-06-23 1954-06-07 15324 days      15324 days             41.0
7 1777-04-30 1855-02-23 28422 days      28422 days             77.0

In [ ]:
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days', 'age_days_assign', 'age_year_assign'],
      dtype='object')

In [ ]:
scientists_dropped = scientists.drop(['Age'], axis= "columns") #drop()메서드의 매개변수 axis에 1또는 'columns'를 전달하여 열 축의 'Age' 데이터를 삭제하도록 지정 후 scientists_dropped에 저장

In [ ]:
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt', 'age_days',
       'age_days_assign', 'age_year_assign'],
      dtype='object')

# **03-5. 데이터를 저장하고 불러오기**

피클로 저장하고 불러오기

In [ ]:
names = scientists['Name']
print(names)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [ ]:
names.to_pickle('../scientists_names_series.pickle') # 피클형은 이진 형식으로 직렬화된 데이터를 저장하는 방법으로, 디스크 저장 공간에 최적화된 상태로 데이터를 저장할 수 있다.
#to_pickle()메서드로 호출하여 피클로 저장할 수 있다

In [ ]:
series_pickle = pd.read_pickle('../scientists_names_series.pickle') #pd.read_pickle() 메서드로 파클 파일을 다시 읽어올 수 있다.
print(series_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

CSV와 TSV로 저장하고 불러오기

In [ ]:
# C(comma)SV(tab으로 구분하면 TSV) 파일은 데이터를 쉼표로 구분한 파일로, 가장 유연한 데이터 저장 형식이다(범용성이 크다). 하지만 속도가 느리고 디스크 공간을 많이 차지함
scientists.to_csv('../scientists_df_no_index.csv', index = False) #CSV는 데이터프레임의 행 번호(index)를 저장하기 때문에 첫번째 열에 열 이름 없이 행 번호만 나열됨. 이는 다시 판다스로 읽을 때 문제가 되므로 index = False 매개변수로 지정해줘야함

엑셀로 저장하기

In [ ]:
#엑셀은 색상과 기타 불필요한 정보가 많으므로 데이터 과학 분야에서는 잘 사용하지는 않음. 다만, 엑셀은 인기도가 정말 높으므로 작업해야한다면 해당 스크립트 언어를 배우는 것을 추천

In [ ]:
names = scientists["Name"] #to_excel 메서드는 시리즈에 제공되지 않으므로 열이 하나인 데이터프레임으로 변환해야함
print(names)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [ ]:
names_df = names.to_frame() #to_frame 메서드로 시리즈를 데이터프레임으로 변환

In [ ]:
names_df.to_excel('../scientists_names_series_df.xls', engine = 'openpyxl') #openpyxl 엔진으로 오류없이 데이터프레임을 xls형으로 저장할 수 있음

In [ ]:
scientists.to_excel("/scientists_df.xlsx", sheet_name = "scientists", index = False) #sheet_name 매개변수로 엑셀파일의 특정 시트에 결과를 저장 할 수 있다.

다양한 형식으로 저장하기

In [ ]:
scientists.to_feather('/scientists.feather') #feather 파일은 데이터프레임을 R과 같은 다른 언어에서 읽을 수 있는 이진 객체로 저장할 때 사용하며 CSV보다 읽고 쓰는 속도 빠르다

In [ ]:
sci_feather = pd.read_feather('/scientists.feather')
print(sci_feather)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   61             Chemist
1        William Gosset  1876-06-13  1937-10-16   45        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   37               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   56           Physician
6           Alan Turing  1912-06-23  1954-06-07   66  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   41       Mathematician

     born_dt    died_dt   age_days age_days_assign  age_year_assign
0 1920-07-25 1958-04-16 13779 days      13779 days             37.0
1 1876-06-13 1937-10-16 22404 days      22404 days             61.0
2 1820-05-12 1910-08-13 32964 days      32964 days             90.0
3 1867-11-07 1934-07-04 24345 days      24345 days             66.0
4 1907-05-27 1964-04-14 20777 days      20777 days             56.0
5 1813-03-15 1858-06-16 16529 days      16529 days             45.0
6 1912-06-23 1954-06-07 15324 days      15324 days             41.0
7 1777-04-30 1855-02-23 28422 days      28422 days             77.0

In [ ]:
# 파이썬의 딕셔너리 객체로 변환이 가능하다. 판다스 없이 시리즈나 df의 데이터를 사용해야 할 때 유용하다.
sci_sub_dict = scientists.head(2)
sci_dict = sci_sub_dict.to_dict() #to_dict() 메서드를 이용하여 딕셔너리로 변환가능

import pprint #데이터를 보기 좋은 형식으로 출력하는 pprint 라이브러리
pprint.pprint(sci_dict)

{'Age': {0: 61, 1: 45},
 'Born': {0: '1920-07-25', 1: '1876-06-13'},
 'Died': {0: '1958-04-16', 1: '1937-10-16'},
 'Name': {0: 'Rosaline Franklin', 1: 'William Gosset'},
 'Occupation': {0: 'Chemist', 1: 'Statistician'},
 'age_days': {0: Timedelta('13779 days 00:00:00'),
              1: Timedelta('22404 days 00:00:00')},
 'age_days_assign': {0: Timedelta('13779 days 00:00:00'),
                     1: Timedelta('22404 days 00:00:00')},
 'age_year_assign': {0: 37.0, 1: 61.0},
 'born_dt': {0: Timestamp('1920-07-25 00:00:00'),
             1: Timestamp('1876-06-13 00:00:00')},
 'died_dt': {0: Timestamp('1958-04-16 00:00:00'),
             1: Timestamp('1937-10-16 00:00:00')}}

In [ ]:
sci_dict_df = pd.DataFrame.from_dict(sci_dict) #변환한 딕셔너리는 다시 판다스 데이터프레임으로 읽어올 수 있다.
print(sci_dict_df) #날짜와 시간 정보를 변환할 때는 주의해야함. 단순히 딕셔너리를 복사, 붙여넣기 한다면 기존 데이터프레임과 같은 결과를 반환하지 않을 수 있음. 날짜를 처리해야 한다면 object와 같은 일반적인 형식으로 벼환하고 그 값을 다시 날짜로 변환해야 한다

                Name        Born        Died  Age    Occupation    born_dt  \
0  Rosaline Franklin  1920-07-25  1958-04-16   61       Chemist 1920-07-25
1     William Gosset  1876-06-13  1937-10-16   45  Statistician 1876-06-13

     died_dt   age_days age_days_assign  age_year_assign
0 1958-04-16 13779 days      13779 days             37.0
1 1937-10-16 22404 days      22404 days             61.0

In [ ]:
# JSON 데이터는 날짜와 시간을 다시 읽을 수 있다는 장점이 있습니다. 매개변수 orient에 'records'를 인수로 전달하면 변수를 전달하거나 출력결과를 복사하고 붙여넣어 판다스로 다시 불러올 수 있다
sci_json = sci_sub_dict.to_json(orient = 'records', indent = 2, date_format = "iso")
pprint.pprint(sci_json)

('[\n'
 '  {\n'
 '    "Name":"Rosaline Franklin",\n'
 '    "Born":"1920-07-25",\n'
 '    "Died":"1958-04-16",\n'
 '    "Age":61,\n'
 '    "Occupation":"Chemist",\n'
 '    "born_dt":"1920-07-25T00:00:00.000",\n'
 '    "died_dt":"1958-04-16T00:00:00.000",\n'
 '    "age_days":"P13779DT0H0M0S",\n'
 '    "age_days_assign":"P13779DT0H0M0S",\n'
 '    "age_year_assign":37.0\n'
 '  },\n'
 '  {\n'
 '    "Name":"William Gosset",\n'
 '    "Born":"1876-06-13",\n'
 '    "Died":"1937-10-16",\n'
 '    "Age":45,\n'
 '    "Occupation":"Statistician",\n'
 '    "born_dt":"1876-06-13T00:00:00.000",\n'
 '    "died_dt":"1937-10-16T00:00:00.000",\n'
 '    "age_days":"P22404DT0H0M0S",\n'
 '    "age_days_assign":"P22404DT0H0M0S",\n'
 '    "age_year_assign":61.0\n'
 '  }\n'
 ']')

In [ ]:
sci_json_df = pd.read_json(
 '[\n'
 '  {\n'
 '    "Name":"Rosaline Franklin",\n'
 '    "Born":"1920-07-25",\n'
 '    "Died":"1958-04-16",\n'
 '    "Age":61,\n'
 '    "Occupation":"Chemist",\n'
 '    "born_dt":"1920-07-25T00:00:00.000",\n'
 '    "died_dt":"1958-04-16T00:00:00.000",\n'
 '    "age_days":"P13779DT0H0M0S",\n'
 '    "age_days_assign":"P13779DT0H0M0S",\n'
 '    "age_year_assign":37.0\n'
 '  },\n'
 '  {\n'
 '    "Name":"William Gosset",\n'
 '    "Born":"1876-06-13",\n'
 '    "Died":"1937-10-16",\n'
 '    "Age":45,\n'
 '    "Occupation":"Statistician",\n'
 '    "born_dt":"1876-06-13T00:00:00.000",\n'
 '    "died_dt":"1937-10-16T00:00:00.000",\n'
 '    "age_days":"P22404DT0H0M0S",\n'
 '    "age_days_assign":"P22404DT0H0M0S",\n'
 '    "age_year_assign":61.0\n'
 '  }\n'
 ']', orient = "records"
 )
print(sci_json_df)

                Name        Born        Died  Age    Occupation  \
0  Rosaline Franklin  1920-07-25  1958-04-16   61       Chemist
1     William Gosset  1876-06-13  1937-10-16   45  Statistician

                   born_dt                  died_dt        age_days  \
0  1920-07-25T00:00:00.000  1958-04-16T00:00:00.000  P13779DT0H0M0S
1  1876-06-13T00:00:00.000  1937-10-16T00:00:00.000  P22404DT0H0M0S

  age_days_assign  age_year_assign
0  P13779DT0H0M0S               37
1  P22404DT0H0M0S               61

/tmp/ipython-input-90-145429224.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  sci_json_df = pd.read_json('[\n'

In [ ]:
print(sci_json_df.dtypes) #날짜를 ISO 8601 문자열 형식으로 변환했기 때문에 born_dt, died_dt 등 날짜와 시간 형식이 원본데이터와 다름

Name               object
Born               object
Died               object
Age                 int64
Occupation         object
born_dt            object
died_dt            object
age_days           object
age_days_assign    object
age_year_assign     int64
dtype: object

In [ ]:
sci_json_df['died_at_json']= pd.to_datetime(sci_json_dt["died_at"])
print(sci_json_df)

NameError: name 'sci_json_dt' is not defined