<a href="https://colab.research.google.com/github/hoofitech/fintech-practice/blob/main/06_apply()%EB%A9%94%EC%84%9C%EB%93%9C%EB%A1%9C_%ED%95%A8%EC%88%98_%EC%A0%81%EC%9A%A9%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **06-1. 간단한 함수 만들기**

### **사용자 함수 만들기**

In [ ]:
#1. 주어진 숫자의 제곱을 반환하는 함수
def my_sq(x):
  return x**2
#2. 주어진 두 숫자의 평균을 구하는 함수
def avg_2(x,y):
  return (x+y)/2
#3. 함수 도움말을 추가하려면 """사이에 도움말을 넣으면 된다
def avg_2(x,y):
  ''' 두 숫자의 평균을 구하는 함수
  '''
  return (x+y) / 2
#4. 만든 함수 호출
my_calc_1 = my_sq(4)
print(my_calc_1)
my_calc_2 = avg_2(10,20)
print(my_calc_2)

16
15.0

# **06-2. apply() 메서드 사용하기**

데이터프레임에 함수 적용하기

In [ ]:
# 1. 실습에 사용할 간단한 데이터프레임 만들기
import pandas as pd

df= pd.DataFrame({"a":[10,20,30],
                  "b":[20,30,40]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [ ]:
#2. a열에 모든 값에 제곱을 해야한다면?
print(df['a']**2)
# 간단한 연산자로 구할 수 없는 경우 apply()를 사용하여 시리즈에 함수를 적용할 수 있다.

0    100
1    400
2    900
Name: a, dtype: int64

## **시리즈에 함수 적용하기**

### 시리즈에 함수 적용하기

In [ ]:
# 1. 앞서 만든 데이터프레임에서 a열을 추출하여 유형을 살펴보기
print(type(df['a'])) #시리즈

<class 'pandas.core.series.Series'>

In [ ]:
#2. 데이터 프레임의 첫 행은 어떤 유형인지
print(type(df.iloc[0])) #시리즈

<class 'pandas.core.series.Series'>

In [ ]:
#3. 시리즈에서는 apply() 메서드를 제공한다. apply()를 활용하면 시리즈의 모든 요소에 지정한 함수를 적용할 수 있다.
sq = df['a'].apply(my_sq) #apply()에 함수를 인수로 전달할 때는 함수를 실행하지 않으므로 소괄호를 붙이지 않는다.
print(sq)

0    100
1    400
2    900
Name: a, dtype: int64

### 사용자 함수 만들어 데이터프레임에 적용하기

In [ ]:
# 1. 두개의 매개변수를 제곱하는 my_exp()생성
def my_exp(x, e):
  return x ** e

# 2. 이 함수를 사용하려면 두 개의 매개변수를 전달해야 함, 한 개만 전달 시 오류 발생
cubed = my_exp(2,3)
print(cubed)

8

In [ ]:
#3. 시리즈의 apply() 메서드에 함수를 전달할 때 키워드 매개변수로써 이름과 값을 명시하여 전달해야함. e=2로 전달해주면 된다.
ex = df['a'].apply(my_exp, e=2)
print(ex)

0    100
1    400
2    900
Name: a, dtype: int64

## **데이터프레임에 함수 적용하기**

In [ ]:
#데이터프레임에 함수를 적용할 때는 열 단위로 적용할지 행 단위로 적용할지 결정해야한다.

#하나의 값을 전달받아서 그대로 출력하는 함수 생성
def print_me(x):
  print(x)

# apply() 메서드로 함수를 열 단위로 적용하고 싶다면 axis 매개변수에 0또는 "index"를 지정. 행 단위로 적용하고 싶다면 axis=1 또는 axis="columns"를 전달

### 열 단위로 함수 적용하기

In [ ]:
#1. 열단위로 apply()를 호출할 때 axis=0을 전달
df.apply(print_me, axis=0) #지정한 전체 축이 함수의 첫 번째 인수로 전달된다

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

a    None
b    None
dtype: object

In [ ]:
# 2. 세 숫자의 평균을 구하는 avg_3() 함수 생성
def avg3(x,y,z):
  return (x+y+z) / 3

#print(df.apply(avg_3))로 apply를 적용하려하면 오류 발생, avg3가 3개의 인수가 필요하지만 apply()를 사용하면 함수의 첫 번째 인수로 전체열이 전달되기 때문

#3. 다음과 같이 수정
def avg_3_apply(col):
    x = col[0]
    y = col[1]
    z = col[2]
    return (x+y+z)/3

print(df.apply(avg_3_apply))

a    20.0
b    30.0
dtype: float64

### 행 단위로 함수 적용하기

In [ ]:
#1. 행 단위로 apply() 적용하는 법은 axis = 0을 전달하면 됨
#2. 행의 전체 값을 받아서 2개의 값을 추출하고 평균을 구해야하므로 앞선 avg_3_apply 함수는 적용이 안됨
def avg_2_apply(row):
  x = row.iloc[0]
  y = row.iloc[1]
  return (x+y) / 2
#3. apply()로 avg_2_apply() 함수를 행단위로 적용
print(df.apply(avg_2_apply, axis =1))

0    15.0
1    25.0
2    35.0
dtype: float64

# **06-3 람다 함수 사용하기**

### 데이터프레임에 람다 함수 적용하기

In [ ]:
# 1. 간단한 데이터 프레임 생성
df = pd.DataFrame({'a': [10,20,30],
                   'b': [20,30,40]})

print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [ ]:
#2. 앞서 만든 my_sq() 함수를 다시 사용
def my_sq(x):
  return x ** 2

df['a_sq'] = df['a'].apply(my_sq)
print(df)

    a   b  a_sq
0  10  20   100
1  20  30   400
2  30  40   900

In [ ]:
#3. 간단한 함수는 람다 함수로 정의하면 my_sq() 함수를 사용한 코드와 같은 작업을 수행
df['a_sq_lamb'] = df['a'].apply(lambda x: x**2)
print(df)

    a   b  a_sq  a_sq_lamb
0  10  20   100        100
1  20  30   400        400
2  30  40   900        900

## 06-4 벡터화된 함수 사용하기

* apply()를 사용하면 열 단위 또는 행 단위로 함수를 적용할 수 있다
* 다만, 행과 열의 크기에 따라 함수를 따로 작성해야 했음
* vectorize() 함수와 데코레이터를 사용하여 벡터화하면 apply() 메서드보다 효율적으로 코드를 작성할 수 있음

### 벡터화된 함수 사용하기

In [ ]:
# 1. 데이터프레임 만들기
df = pd.DataFrame({"a": [10,20,30],
                   "b": [20, 30,40]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [ ]:
# 2. 각 행은 값이 2개이므로 다음과 같은 평균함수를 만들 수 있음.
def avg_2(x,y):
    return (x+y)/2
# 벡터화된 함수: 입력이 벡터(pandas의 Series)여도 자동으로 각 요소별 계산이 되는 함수
# 벡터화된 함수는 x와 y의 값을 각각 벡터로 전달받아 같은 순서로 x와 y의 평균을 반환해야 합니다.
print(avg_2(df['a'], df['b']))

# 두 개의 숫자 열에 더하기 연산을 적용하면 판다스와 넘파이 라이브러리가 자동으로 요소별 더하기를 수행합니다.
# /2에서 2를 스칼라라고 하며 스칼라를 브로드캐스팅하고 각 요소를 스칼라값으로 나누는 방식으로 작동한다.

0    15.0
1    25.0
2    35.0
dtype: float64

스칼라의 브로드캐스팅에 대한 이해를 위한 예시 그림  
브로드캐스팅한다는 것은 스칼라 혹은 작은 배열을 자동으로 큰 배열에 맞춰 연산한다는 의미

벡터:         [ a1, a2, a3, a4 ]  
스칼라:        2

브로드캐스트: [ 2, 2, 2, 2 ]  
연산 결과:    [ a1/2, a2/2, a3/2, a4/2 ]

In [ ]:
#3. 벡터화할 수 없는 계산을 수행하는 함수로 수정
# x가 20이면 NaN을 반환하는 함수
import numpy as np

def avg_2_mod(x,y):
    if (x == 20):
      return(np.nan)
    else:
      return (x+y) / 2

#print(avg_2_mod(df['a'], df['b']))
#위 출력은 if문에 벡터가 전달될 수 없는데 전달되므로 오류가 발생함
"""
df['a'] == 20
# 결과: [False, True, False] ← 벡터

if df['a'] == 20:
    # ❌ ValueError: The truth value of a Series is ambiguous
파이썬의 if문은 단일 True/False 값만 이용할 수 있는데, 벡터를 넣으면 오류가 발생함
"""

"\ndf['a'] == 20\n# 결과: [False, True, False] ← 벡터\n\nif df['a'] == 20:\n    # ❌ ValueError: The truth value of a Series is ambiguous\n파이썬의 if문은 단일 True/False 값만 이용할 수 있는데, 벡터를 넣으면 오류가 발생함\n"

## **넘파이와 넘바로 벡터화 하기**

넘파이로 벡터화하기

In [ ]:
#1. np.vectorize()에 벡터화하려는 함수를 전달
import numpy as np

avg_2_mod_vec = np.vectorize(avg_2_mod)

In [ ]:
#2. 벡터화한 함수에 열 벡터 넣어보기
print(avg_2_mod_vec(df['a'], df['b'])) #오류없이 잘 작동

[15. nan 35.]

In [ ]:
@np.vectorize #파이썬의 데코레이터로 새 함수를 만들지 않고도 함수를 자동으로 벡터화할 수 있음
def v_avg_2_mod(x,y):
  if (x==20):
    return (np.nan)
  else:
    return (x+y) / 2

print(v_avg_2_mod(df['a'], df['b']))

[15. nan 35.]

### 넘바로 벡터화하기

In [ ]:
#1. 넘바 라이브러리는 배열에 적용하는 수학계산을 최적화하도록 설계되었다.
import numba
@numba.vectorize
def v_avg_2_numba(x,y):
  if (int(x) == 20): #자료형 정보를 추가해준다
    return (np.nan)
  else:
    return (x+y) / 2

In [ ]:
#2. numba 라이브러리는 계산 최적화에 특화된 라이브러리이므로 판다스 객체를 처리하는 기능은 없음

#print(v_avg_2_numba(df['a'], df['b']))
#위처럼 함수에 데이터프레임의 열 벡터를 그대로 전달하면 오류가 발생함

#3. 시리즈 객체의 values 속성을 사용하여 데이터를 넘파이 배열 형식으로 전달해야한다.
print(v_avg_2_numba(df['a'].values, df['b'].values))

[15. nan 35.]