<a href="https://colab.research.google.com/github/hoofitech/fintech-practice/blob/main/do-it-pandas/11.%20%20handle%20str/11_%EB%AC%B8%EC%9E%90%EC%97%B4_%EC%B2%98%EB%A6%AC%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

11-1~11.3의 내용은 기본 파이썬의 내용에서 배운 내용이니 pass하고 11-4. 문자열 포메팅 알아보기

### f-문자열을 이용하여 포메팅하기

In [ ]:
#1.f-문자열은 문자열의 따옴표 기호 앞에 f를 덧붙여 만든다
s= f"hello"
print(s)

hello

In [ ]:
#2. 문자열 안에서 {}을 사용하여 파이썬 변수를 삽입하거나 계산식을 넣을 수 있다
num =7
s = f"I only know {num} digits of pi"
print(s)

I only know 7 digits of pi

In [ ]:
#3. 숫자 변수 말고도 다양한 변수를 넣을 수 있다
const = "e"
value = 2.718
s = f"Some digits of {const}: {value}"
print(s)

Some digits of e: 2.718

In [ ]:
#4. 하나의 f-문자열 안에 같은 변수를 여러 번 삽입할 수도 있다.
word = "scratch"
s = f"""Black Knight: 'Tis but a {word}.
King Authur : A {word}? Your arm's off!
"""

print(s)

Black Knight: 'Tis but a scratch.
King Authur : A scratch? Your arm's off!

### 숫자 포매팅하기

In [ ]:
#1. 숫자 형식도 저장할 수 있다
p = 3.14159265359
print(f"Some digits od pi: {p}")

Some digits od pi: 3.14159265359

In [ ]:
#2. 천 단위로 쉼표를 찍어서 숫자를 표현
digits = 67890
s = f"In 2005, Lu Chao of China recited {67890:,} digits of pi."
print(s)

In 2005, Lu Chao of China recited 67,890 digits of pi.

In [ ]:
#3. 점을 사용하여 표시할 소수 길이를 지정할 수 있으며 % 기호로 백분율을 나타낼 수도 있다
prop = 7 / 67890
s = f"I remember {prop:.4} or {prop:.4%} of what Lu chao recited."
print(s)

I remember 0.0001031 or 0.0103% of what Lu chao recited.

In [ ]:
#4. 숫자와 d 기호를 사용하면 원하는 숫자 자릴수를 지정하고 빈자리는 0으로 채울 수 있다
id = 42
print(f"My ID number is {id : 05d}")

My ID number is  0042

In [ ]:
#5. 중괄호 문법 대신 내장된 문자열 메서드로 형식을 지정할 수도 있다. zfill() 메서드로 미리 00042 형식의 문자열을 만들고 f-문자열에 삽입
id_zfill = "42".zfill(5)
print(f"My ID number is {id_zfill}")

My ID number is 00042

In [ ]:
#6. 문자열을 미리 만들어 삽입하지 않고 f-문자열의 중괄호 안에 바로 파이썬 문법을 작성할 수도 있다
print(f"My ID number is  {'42'.zfill(5)}")

My ID number is  00042

# 11-5. 정규식으로 문자열 처리에 날개 달기

## 정규식이란?

### 정규식으로 패턴 찾기

In [ ]:
#1. 10자리 비밀번호를 찾는 정규식.
import re

tele_num = '1234567890'

In [ ]:
#2. \d 10개를 덧붙인 패턴과 tele_num을 전달한 match() 함수를 호출
m = re.match(pattern= '\d\d\d\d\d\d\d\d\d\d', string = tele_num)
print(type(m)) # 함수는 match 객체를 반환한다.

<class 're.Match'>

In [ ]:
#3. m에 어떤 값이 들었는지 출력
print(m) #Match 객체는 주어진 문자열에 주어진 패턴과 일치하는 부분이 있다면 해당 부분의 처음과 끝 인덱스를 확인하고 일치하는 문자열을 추출]
print(bool(m)) # 내장함수 bool()에 Match 객체를 전달하여 True 또는 False라는 값으로 확인 가능

<re.Match object; span=(0, 10), match='1234567890'>
True

In [ ]:
#4. 조건문에서 일치한 문자열의 존재 여부를 활용하고 싶다면 굳이 bool() 함수를 사용하여 불형으로 변환할 필요는 없다. Match 객체 그대로 조건문에 사용할 수 있다
if m:
  print('match')
else:
  print('no match')

match

In [ ]:
#5. start()와 end()메서드로 첫 번째와 마지막 인덱스를 반환.
print(m.start())
print(m.end())
# span() 메서드는 찾은 패턴의 첫 번째와 마지막 인덱스를 한 번에 반환
print(m.span())
# group 메서드는 찾은 패턴을 반환한다.
print(m.group())

0
10
(0, 10)
1234567890

In [ ]:
#6. 띠어쓰기를 포함한 전화번호일 경우에는 앞선 패턴을 사용할 수 없다
tele_num_spaces = '123 456 7890'

m = re.match(pattern= '\d{10}', string = tele_num_spaces)
print(m)

None

In [ ]:
#7. 새롭게 정의한 정규식은 다음과 같다.
p = '\d{3}\s?\d{3}\s?\d{4}'
m = re.match(pattern=p, string= tele_num_spaces)
print(m)

<re.Match object; span=(0, 12), match='123 456 7890'>

In [ ]:
#8. 지역 번호를 괄호로 감싸서 표현하거나 전화번호 사이에 하이픈 기호가 있다면
tele_num_space_paren_dash = '(123) 456-7890'
p = '\(?\d{3}\)?\s?\d{3}-?\d{4}'
m = re.match(pattern = p, string = tele_num_space_paren_dash)
print(m)

<re.Match object; span=(0, 14), match='(123) 456-7890'>

### 알기 쉬운 정규식 만들기

In [ ]:
#1. 파이썬에서는 긴 문자열을 여러 줄로 나누어 표현할 수 있는 기능을 제공. 이를 통해 복잡한 정규식을 보기 쉽게 정리할 수 있음.
p = (
    '\+?'
    '1'
    '\s?'
    '\(?'
    '\d{3}'
    '\)?'
    '\s?'
    '\d{3}'
    '\s?'
    '-?'
    '\d{4}'
)
print(p)

\+?1\s?\(?\d{3}\)?\s?\d{3}\s?-?\d{4}

In [ ]:
#2. 정의한 패턴 문자열 p를 match() 함수에 전달.
cnty_tele_num_space_paren_dash = '+1 (123) 456-7890'
m = re.match(pattern = p, string= cnty_tele_num_space_paren_dash)
print(m)

<re.Match object; span=(0, 17), match='+1 (123) 456-7890'>

### 패턴과 일치하는 모든 문자열 찾기

In [ ]:
#1. 여러 줄에 걸친 긴 문자열을 하나 선언
s = (
    "14 Ncuti Gatwa,"
    "13 Jodie Whittaker, war John Hurt, 12 Peter Capaldi,"
    "11 Matt Smith, 10 David Tennant, 9 Christopher Eccleston"
)
print(s)

14 Ncuti Gatwa,13 Jodie Whittaker, war John Hurt, 12 Peter Capaldi,11 Matt Smith, 10 David Tennant, 9 Christopher Eccleston

In [ ]:
#2. \d와 + 기호를 사용한 패턴으로 findall()을 호출하여 문자열에서 숫자가 1개 이상 연속된 모든 부분을 찾기
p = "\d+"
m = re.findall(pattern = p, string = s)
print(m)

['14', '13', '12', '11', '10', '9']

### 패턴과 일치하는 문자열 대체하기

In [ ]:
#1. 정규식을 사용하여 문자열에 있는 모든 인물 정보를 제거
multi_str = """Guard: What? Ridden on a horse?
King Arthur: Yes!
Guard: You're using coconuts!
King Arthur: What?
Guard: You've got ... coconut[s] and you're bangin' 'em togther.
"""
p ='\w+\s?\w+:\s?' # 이름 뒤에 콜론 기호가 포함된다는 규칙
s = re.sub(pattern=p, string=multi_str, repl='')
print(s)

What? Ridden on a horse?
Yes!
You're using coconuts!
What?
You've got ... coconut[s] and you're bangin' 'em togther.

In [ ]:
#2. 슬라이싱 구문을 활용하여 Guar와 King Arthur가 한 말을 각각 추출
guard = s.splitlines()[::2]
kinga = s.splitlines()[1::2]
print(guard)
print(kinga)

['What? Ridden on a horse?', "You're using coconuts!", "You've got ... coconut[s] and you're bangin' 'em togther."]
['Yes!', 'What?']

## compile() 함수

* 패턴을 반복해서 사용하는 경우에 compile() 함수로 패턴을 재사용할 수 있는 기능

In [ ]:
#1. match() 함수부터 적용
p = re.compile('\d{10}')
s = '1234567890'
m = p.match(s)
print(m)

<re.Match object; span=(0, 10), match='1234567890'>

In [ ]:
#2. findall() 함수
p = re.compile('\d+')
s = (
    "14 Ncuti Gatwa, "
    "13 Jodie Whittaker, war John Hurt, 12 Peter Capaldi,"
    "11 Matt Smith, 10 David Tennant, 9 Christopher Eccleston"
)
m = p.findall(s)
print(m)

['14', '13', '12', '11', '10', '9']

In [ ]:
#3. 찾은 문자열을 원하는 문자열로 바꾸는 sub() 함수
p = re.compile('\w+\s?\w+:\s?')
s = "Guard: You're using coconuts!"
m = p.sub(string = s, repl='')
print(m)

You're using coconuts!

# 11-6. regex 라이브러리 활용하기

In [ ]:
# regex 라이브러리는 좀 더 심화된 정규식 기능을 활용한다.
import regex

p = regex.compile('\d+')
s = (
    "14 Ncuti Gatwa, "
    "13 Jodie Whittaker, war John Hurt, 12 Peter Capaldi,"
    "11 Matt Smith, 10 David Tennant, 9 Christopher Eccleston"
)
m = p.findall(s)
print(m)

['14', '13', '12', '11', '10', '9']